<style>
    body{
        margin:0;
    }
    h1 {
       font-size: 50px;
       border-bottom: 5px solid yellow;
       margin: 20px;
       padding: 30px;
    }

    #box{
        display: grid;
        grid-template-columns: 150px 1fr;
    }

    
    #box ul {
        border-right: 2px solid green;
        width: 100px;
        margin: 30px;
        padding: 20px;
    }
   

    #diary {
        padding-left: 50px;
    }

    @media (max-width :800px){
        #box{
            display:block;
        }
        #box ul {
            border-right:none;
        }
        h1{
            border-bottom: none;
        }
    }

    
</style>